<div id="SgModal" class="modal fade" data-dismiss="modal">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                <h4 class="modal-title" id="header">{{modalHeader}}</h4>
            </div>
            <div class="modal-body">
                <div id="divbody">{{modalBody}}</div>
            </div>
            <div class="modal-footer">
                <button class="btn btn-sm btn-primary" ng-click="action()" data-dismiss="modal">Confirm</button>
                <button class="btn btn-sm btn-warning" data-dismiss="modal">Cancel</button>
            </div>
        </div>
    </div>
</div>