<?xml version="1.0" encoding="utf-8" ?>
<siteMap>
  <siteMapNode SystemName="Home" SeagullResource="Admin.Home" controller="Home" action="Overview">
    <!--<siteMapNode SystemName="Dashboard" SeagullResource="Admin.Dashboard" controller="Home" action="Index" IconClass="fa-desktop" />-->
    <!--<siteMapNode SystemName="Chart" SeagullResource="Admin.DashboardChart" controller="Chart" action="Index" IconClass="fa-desktop" />-->

    <siteMapNode SystemName="Content Management" SeagullResource="Admin.ContentManagement" PermissionNames="ManagePolls, ManageNews, ManageBlog, ManageTopics, ManageForums, ManageMessageTemplates" IconClass="fa-cubes">
      <siteMapNode SystemName="Topics" SeagullResource="Admin.ContentManagement.Topics" PermissionNames="ManageTopics" controller="Topic" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Message templates" SeagullResource="Admin.ContentManagement.MessageTemplates" PermissionNames="ManageMessageTemplates" controller="MessageTemplate" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>


    <!--<siteMapNode SystemName="System" SeagullResource="Admin.System" PermissionNames="ManageSystemLog,ManageMessageQueue,ManageMaintenance,ManageScheduleTasks" IconClass="fa-cube">
      <siteMapNode SystemName="System information" SeagullResource="Admin.System.SystemInfo" PermissionNames="ManageMaintenance" controller="Common" action="SystemInfo"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Log" SeagullResource="Admin.System.Log" PermissionNames="ManageSystemLog" controller="Log" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Warnings" SeagullResource="Admin.System.Warnings" PermissionNames="ManageMaintenance" controller="Common" action="Warnings"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Maintenance" SeagullResource="Admin.System.Maintenance" PermissionNames="ManageMaintenance" controller="Common" action="Maintenance"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Queued emails" SeagullResource="Admin.System.QueuedEmails" PermissionNames="ManageMessageQueue" controller="QueuedEmail" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Schedule tasks" SeagullResource="Admin.System.ScheduleTasks" PermissionNames="ManageScheduleTasks" controller="ScheduleTask" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Search engine friendly names" SeagullResource="Admin.System.SeNames" PermissionNames="ManageMaintenance" controller="Common" action="SeNames"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>-->

    <siteMapNode SystemName="Lookups" SeagullResource="Admin.Lookups" PermissionNames="ManageOperator,ManageService,ManageQTitle,ManageMailOperator"  IconClass="fa-key">
      <siteMapNode SystemName="ManageOperator" SeagullResource="Admin.TRC.Operator" PermissionNames="ManageOperator" controller="Operator" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageMailOperator" SeagullResource="Admin.area.MailOperator" PermissionNames="ManageMailOperator" controller="MailOperator" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageQTitle" SeagullResource="Admin.TRC.QTitle" PermissionNames="ManageQTitle" controller="QTitle" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageAnnualQTitle" SeagullResource="Admin.TRC.AnnualQTitle" PermissionNames="ManageAnnualQTitle" controller="AnnualQTitle" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageFinancialQTitle" SeagullResource="Admin.TRC.FinancialQTitle" PermissionNames="ManageFinancialQTitle" controller="FinancialQTitle" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageSurvey" SeagullResource="Admin.TRC.Survey" PermissionNames="ManageSurvey" controller="Survey" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageMobileTariffQuestions" SeagullResource="Admin.area.MobileTariffQuestions" PermissionNames="ManageMobileTariffQuestions" controller="MobileTariffPackage" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageFixedTariffQuestions" SeagullResource="Admin.area.FixedTariffQuestions" PermissionNames="ManageFixedTariffQuestions" controller="FixedTariffQuestion" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManagePerformanceIndicators" SeagullResource="Admin.TRC.PerformanceIndicators" PermissionNames="ManagePerformanceIndicators" controller="PerformanceIndicators" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageExternalStatistics" SeagullResource="Admin.TRC.ExternalStatistics" PermissionNames="ManageExternalStatistics" controller="ExternalStatistics" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>

    <siteMapNode SystemName="Reports" SeagullResource="Admin.Reports" PermissionNames="ManageQReport,ManageAnnualQReport,ManageFinancialReport,ManageSurveyReport,ManageMobileTariffReport,ManageFixedTariffReport,ManageOtherAttachments, ManageMailReport"  IconClass="fa-book">
      <siteMapNode SystemName="ManageQReport" SeagullResource="Admin.TRC.QReport" PermissionNames="ManageQReport" controller="QReport" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageAnnualQReport" SeagullResource="Admin.TRC.AnnualQReport" PermissionNames="ManageAnnualQReport" controller="AnnualQReport" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageFinancialReport" SeagullResource="Admin.area.FinancialReport" PermissionNames="ManageFinancialReport" controller="FinancialReport" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageSurveyReport" SeagullResource="Admin.TRC.SurveyReport" PermissionNames="ManageSurveyReport" controller="SurveyReport" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageMobileTariffReport" SeagullResource="Admin.area.MobileTariffReport" PermissionNames="ManageMobileTariffReport" controller="MobileTariffReport" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageFixedTariffReport" SeagullResource="Admin.area.FixedTariffReport" PermissionNames="ManageFixedTariffReport" controller="FixedTariffReport" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageMailReport" SeagullResource="Admin.area.MailReport" PermissionNames="ManageMailReport" controller="MailReport" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageOtherAttachments" SeagullResource="Admin.area.OtherAttachments" PermissionNames="ManageOtherAttachments" controller="OtherFiles" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>


    <siteMapNode SystemName="SystemReports" SeagullResource="Admin.SystemReports" PermissionNames="ManageStatisticalReports, ManageFinancialReports, ManageFollowupReport, ManageMailSystemReport"  IconClass="fa-newspaper-o">
      <siteMapNode SystemName="ManageStatisticalReports" SeagullResource="Admin.TRC.StatisticalReports" PermissionNames="ManageStatisticalReports" controller="SystemReport" action="List"  IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="ManageFinancialReports" SeagullResource="Admin.TRC.FinancialReports" PermissionNames="ManageFinancialReports" controller="SystemReport" action="ListEconomy"  IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="ManageFollowupReport" SeagullResource="Admin.TRC.FollowupReport" PermissionNames="ManageFollowupReport" controller="SystemReport" action="ListFollowup"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManagePerformanceIndicatorsReports" SeagullResource="Admin.TRC.PerformanceIndicatorsReports" PermissionNames="ManagePerformanceIndicatorsReports" controller="SystemReport" action="ListPerformanceIndicators"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="ManageMailSystemReport" SeagullResource="Admin.TRC.MailSystemReport" PermissionNames="ManageMailSystemReport" controller="SystemReport" action="ListMailSystemReport"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>



    <siteMapNode SystemName="Users" SeagullResource="Admin.Users" PermissionNames="ManageUsers" IconClass="fa-user" >
      <siteMapNode SystemName="Users list" SeagullResource="Admin.Users.Users" PermissionNames="ManageUsers" controller="User" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="UserType" SeagullResource="Admin.System.UserType" PermissionNames="ViewUserTypeInSiteMap" controller="UserType" action="List"  IconClass="fa-bars"/>
      <!--<siteMapNode SystemName="UserEntity" SeagullResource="Admin.System.UserEntity" PermissionNames="ViewUserEntityInSiteMap" controller="UserEntity" action="List"  IconClass="fa-bars"/>-->
      <siteMapNode SystemName="User roles" SeagullResource="Admin.Users.UserRoles" PermissionNames="ManageUsers" controller="UserRole" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Access control list" SeagullResource="Admin.Configuration.ACL" PermissionNames="ManageACL" controller="Security" action="Permissions" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Online users" SeagullResource="Admin.Users.OnlineUsers" PermissionNames="ManageUsers" controller="OnlineUser" action="List" IconClass="fa-dot-circle-o" />
      <siteMapNode SystemName="Activity log" SeagullResource="Admin.Configuration.ActivityLog" PermissionNames="ManageActivityLog" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Activity log list" SeagullResource="Admin.Configuration.ActivityLog.ActivityLog" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ListLogs" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Activity types" SeagullResource="Admin.Configuration.ActivityLog.ActivityLogType" PermissionNames="ManageActivityLog" controller="ActivityLog" action="ListTypes" IconClass="fa-genderless"/>
      </siteMapNode>
    </siteMapNode>

    <siteMapNode SystemName="Configuration" SeagullResource="Admin.Configuration" PermissionNames="ManageCountries,ManageLanguages,ManageSettings,ManageExternalAuthenticationMethods,ManageWidgets,ManageCurrencies,ManageEmailAccounts,ManagePlugins"
       IconClass="fa-gears">
      <siteMapNode SystemName="Settings" SeagullResource="Admin.Configuration.Settings" PermissionNames="ManageSettings" IconClass="fa-dot-circle-o" >
        <siteMapNode SystemName="General settings" SeagullResource="Admin.Configuration.Settings.GeneralCommon" controller="Setting" action="GeneralCommon" IconClass="fa-genderless"/>
        <siteMapNode SystemName="User and user settings" SeagullResource="Admin.Configuration.Settings.UserUser" controller="Setting" action="UserUser" IconClass="fa-genderless"/>
        <siteMapNode SystemName="Media settings" SeagullResource="Admin.Configuration.Settings.Media" controller="Setting" action="Media" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All settings" SeagullResource="Admin.Configuration.Settings.AllSettings" controller="Setting" action="AllSettings" IconClass="fa-genderless"/>
      </siteMapNode>
      <!--<siteMapNode SystemName="Email accounts" SeagullResource="Admin.Configuration.EmailAccounts" PermissionNames="ManageEmailAccounts" controller="EmailAccount" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Stores" SeagullResource="Admin.Configuration.Stores" PermissionNames="ManageStores" controller="Store" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Countries" SeagullResource="Admin.Configuration.Countries" PermissionNames="ManageCountries" controller="Country" action="List" IconClass="fa-dot-circle-o"/>-->
      <siteMapNode SystemName="Languages" SeagullResource="Admin.Configuration.Languages" PermissionNames="ManageLanguages" controller="Language" action="List" IconClass="fa-dot-circle-o"/>
      <!--<siteMapNode SystemName="Currencies" SeagullResource="Admin.Configuration.Currencies" PermissionNames="ManageCurrencies" controller="Currency" action="List" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Widgets" SeagullResource="Admin.ContentManagement.Widgets" PermissionNames="ManageWidgets" controller="Widget" action="List"  IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="External authentication methods" SeagullResource="Admin.Configuration.ExternalAuthenticationMethods" PermissionNames="ManageExternalAuthenticationMethods" controller="ExternalAuthentication" action="Methods" IconClass="fa-dot-circle-o"/>
      <siteMapNode SystemName="Plugins" SeagullResource="Admin.Configuration.Plugins" PermissionNames="ManagePlugins" IconClass="fa-dot-circle-o">
        <siteMapNode SystemName="Local plugins" SeagullResource="Admin.Configuration.Plugins.Local" PermissionNames="ManagePlugins" controller="Plugin" action="List" IconClass="fa-genderless"/>
        <siteMapNode SystemName="All plugins and themes catalog" SeagullResource="Admin.Configuration.Plugins.OfficialFeed" PermissionNames="ManagePlugins" controller="Plugin" action="OfficialFeed" IconClass="fa-genderless"/>
      </siteMapNode>-->
    </siteMapNode>

    <siteMapNode SystemName="Help" SeagullResource="Admin.Help" IconClass="fa-question-circle">
      <siteMapNode SystemName="User Manual" SeagullResource="Admin.UserManualAdmin" url="http://10.125.25.140:8056/Administration/Upload/UserManual/TRC_Manual_user_for_admin_(Ver_2).docx"  PermissionNames ="ManageAdminUserManual" IconClass="fa-building-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="User Manual" SeagullResource="Admin.UserManualOperator" url="http://10.125.25.140:8056/Administration/Upload/UserManual/TRC_User_Manual_for_Operator.docx" PermissionNames ="ManageEntityUserManual"  IconClass="fa-building-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="User Manual" SeagullResource="Admin.UserManualMailAdmin" url="http://10.125.25.140:8056/Administration/Upload/UserManual/TRC_User_Manual_For_Post_Deparment_Copy.docx" PermissionNames ="ManagePostDeparmentUserManual"  IconClass="fa-building-o" OpenUrlInNewTab="true"/>
      <siteMapNode SystemName="User Manual" SeagullResource="Admin.UserManualMailOperator" url="http://10.125.25.140:8056/Administration/Upload/UserManual/TRC_User_Manual_For_Post_Companies.docx" PermissionNames ="ManagePostCompaniesUserManual"  IconClass="fa-building-o" OpenUrlInNewTab="true"/>
      <!--<siteMapNode SystemName="Help Company" SeagullResource="Admin.SeagullCompany" url="http://Seagull-technology.com"  IconClass="fa-building-o" OpenUrlInNewTab="true"/>-->
    <siteMapNode SystemName="ManageHelpForm" SeagullResource="Admin.TRC.HelpForm" PermissionNames="ManageHelpForm" controller="HelpForm" action="List"  IconClass="fa-dot-circle-o"/>
    </siteMapNode>
    <siteMapNode SystemName="Third party plugins" SeagullResource="Admin.Plugins" PermissionNames="ManagePlugins" IconClass="fa-bars" />
  </siteMapNode>
</siteMap>